<div class="row">
  <div class="large-12 columns">
    <h1>What we use</h1>
  </div>
  <div class="row">
    <div class="large-12 columns">
      AngularJS, BackboneJS, Compass, Grunt, Bower, Foundation, Github
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="large-12 columns">
    <h1>Our weapons</h1>
  </div>
  <div class="row">
    <div class="large-12 columns">
      Sublimn Text, Smartgit, Adobe Creative Suit
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="large-12 columns">
    <h1>What we need</h1>
  </div>
  <div class="row">
    <div class="large-12 columns">
      Licences for ALL of them
    </div>
  </div>
</div>
<hr>